{% extends 'baseLayout.html' %}
{% load static %}
{% block title %} Enregistrement {% endblock %}
{% block static %}
    {% comment %} <link rel="stylesheet" href="{% static 'compte/css/login.css' %}" > {% endcomment %}
{% endblock %}
{% block nav %} 
    {% include "menu/formulaire/menuSignInRegister.html" %}
{% endblock%}
{% block content %}
    {{message}}
    <form method ="post">
        {% csrf_token %}
        
        <div class="form-group"> {{form.as_p}} </div>
        <input type="submit" value="Créer le compte">
    </form>
    
{% endblock %}